#body{
    width: 100%;
    margin:auto;
  background-color: #cecece;
}
.pageTitle{
    margin-top: 90px;
    margin-left: 5px;
    width: 50%;
  border: 3px solid black;
  border-bottom: 0px;
  border-top: 0px;
  border-right: 0px;
  padding-left:4px;
}

.nav {
  position: fixed;
  width: 100%;
  top:0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
  width: 33.33333%;
}

.nav li a, .courseList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  box-shadow: 0px 0px 5px 5px #888888;
  background-color: #111;
}



.active{
  background-color:#cecece;
}
.active a{
  color: #111 !important;
}
.active:hover a{
  color: white !important;
}

.courseList li{
  background-color: #333;
  margin:50px 0px 0px 0px;
}
.courseList{
  margin-right: 40px;
  list-style-type:none;
}
#topBar{
  font-size: 50px;
  padding: 0px 0px 10px 10px;
  background-color: #111;
  float: none;
  width: 100%;
  color: #cecece;
  height: 50px;
}
#topBar a{
  font-size: 50px;
  padding: 0px 0px 10px 10px;
  background-color: #111;
  float: left;
  width: 30%;
  color: #cecece;
  height: 50px;
}
#topBar a:hover{
  color: white;
  box-shadow: none;
}
.courseList li p{ 
  text-align: center;
  display: none;
  padding: 5px;
}

.courseList li:hover p{
  display: block;
  background-color: #cecece;
    border:thick solid #111;

}

.contact{
    position: fixed;
    right: 5px;
    top: 5px;
    display: block;
    text-decoration: none;
  padding: 4px;
  background-color: #333;
  color: white;
  border: 2px solid #cecece;
  
  
}
.contact:hover{
  background-color: #cecece; 
  border: 2px solid #cecece;
  color: #111;
}

.homePic{
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom:20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #a3a3a3;
}

.abtMe{
  width: 85%;
  margin: auto;
  border: 3px solid #111;
  padding-left: 5px;
  border-right: 0px;
  border-top:0px;
  border-bottom: 0px;
  
}
.breaks{
  margin-top: 50px;
  margin-bottom: 50px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
.footer p{
  width:50%;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
  font-size: small;
  font-weight: bold;
  
}

.contactMe{
  width: 80%;
  margin: auto;
  text-align: center;
  
}

.dates { text-align: right;
         padding-right: 10px;
         float: right;
}
.workExp{
  list-style-type: none;
  width: 80%;
  margin: auto
  
}
.workExp .job p{
  padding-left: 30px;
}
.workExp .job{
  margin-top: 50px;
}
.workExp a{
  font-weight: bold;
  color: #333;
  
}

.coursesIntro{
  width: 80%;
  margin: auto;
  text-align: center;
}
.backCourse{
  width: 10%;
  margin: auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  margin-top:100px;
}
.backCourse:hover{
  background-color: #111;
}
.sitemap{
  width: 10%;
  margin: auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  
}
.sitemap:hover{
  background-color: #111;
}
.courseDescription{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.sitemapDesc{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  
}
.final{
  width: 10%;
  margin: auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  
}
.finalDesc{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
  
}
#finalSCJava1{
   width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom:20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #a3a3a3;
}
#finalSCJava2{
   width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom:20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #a3a3a3;
}
.scDesc{
  width: 80%;
  margin: auto;
  text-align: center;
}
#finalSCCpp1, #finalSCCpp2, #finalSCCpp3, #finalSCCpp4{
    width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom:20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #a3a3a3;
  
}
#final205gif{
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom:20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #a3a3a3;
}